ol{
	list-style:none;
}
#module-content{
	width:80%;
	margin:auto;
	position:relative;
}
#nav-bar{
	float:left;
	width:250px;
	border:1px solid black;
}
#new-entry-button{
	display:block;
	width:80%;
}
#search-box{
	width:80%;
}
#entry-pane{
	margin-left:260px;
	border:1px solid black;
}
.entry{
	margin:30px 20px;
}
.title-bar{
	border-bottom:1px solid black;
	margin-bottom:20px;
	position:relative;
}
.entry-title{
	font-weight:bold;
	font-size:1.5em;
}
.entry-date{
	color:grey;
	font-size:0.8em;
	position:absolute;
	bottom:2px;
	right:2px;
}